@media only screen and (min-width: 55em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
nav button { display: none; }  /* hamburger button does not need to be shown */ 
    
nav ul.hide{
    display: flex;
}

nav {
  font-size: 16px;
}



nav li {
    position: relative;
    float: left;
    margin: 0;
}

nav li a {
    color: white;
    margin: auto;
    padding: 12px 1.5rem;
    text-decoration: none;
    flex-wrap: nowrap;
}


main {margin: 0; }

section.gallery {
  grid-template-columns: repeat(2, 1fr);
      }

section.gallery figure:hover {
  box-shadow: 4px 4px 6px rgb(17, 4, 48); 
}
    
h2 {text-align: center;font-size:2rem;text-shadow:3px 3px 5px #777;}
   
.herodiv {margin: 5px auto; position: relative;}

img.town {width: 100%; height: auto;}   


  
article p.town-article img { margin: 15px; max-width: 80%; }  /* responsive images */
  
article.townpages {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  }

.temple-info ul {max-width: 60%; margin:auto;}

article.service {max-width: 70%}

}