@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
nav button { display: none; }  /* hamburger button does not need to be shown */ 
    
nav ul.hide{
    display: flex;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(7, 2, 82);
    flex-wrap: nowrap;
}

li {
    position: relative;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    margin: auto;
    padding: 12px 1.5rem;
    text-decoration: none;
    flex-wrap: nowrap;
}

li a:hover:not(.active) {
    background-color: rgb(47, 0, 255);
}

.active {
    background-color: rgb(7, 2, 82);
}

main {max-width: 850px; margin:0 auto;}
    
h2 {text-align: center;font-size:2rem;text-shadow:3px 3px 5px #777;}
   
.herodiv {margin: 5px auto; position: relative;}

img.town {width: 100%; height: auto;}   

.weathersummary {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: rgba(73, 31, 226, 0.8);
    border: 1px solid rgb(17, 17, 20);
    padding: 15px;
    box-shadow: 0 4px 15px #fff;
}                      
.weathersummary h3 { font-size: 1.3em; padding-bottom: 4px; border-bottom: 2px solid rgb(24, 4, 46);}
.weathersummary p { font-size: 1em; font-family: sans-serif, 'PT Sans'; padding:-bottom 4px; margin:0;}

  
  section.forecast { 
    display: inline-block; 
    border: 1px solid blue;
    margin: 15px;
    align-content: center;
    }  /* show the 10-day forecast with the large view */
  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}