@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
nav button { display: none; }  /* hamburger button does not need to be shown */ 
    
nav ul.hide{
    display: flex;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: rgb(7, 2, 82);
    flex-wrap: nowrap;
}

li {
    position: relative;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    margin: auto;
    padding: 12px 1.5rem;
    text-decoration: none;
    flex-wrap: nowrap;
}

li a:hover:not(.active) {
    background-color: rgb(47, 0, 255);
}

.active {
    background-color: rgb(7, 2, 82);
}

  
  
  section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

}