body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    padding: auto;
}

header {
    margin: auto;
    background-color: rgba(38, 0, 255, 1);
    text-align: center;
    padding: .3rem;
    color:whitesmoke;
}

header>img {
    width:140px;
    height: auto;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    margin: 1rem 0 1rem 2rem;
    padding: 1.4rem;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 3rem;
}
 nav {
    background-color: rgb(47, 0, 255);
    text-align: center;
    font-family: sans-serif;
 }

 .subheading {
    font-size: 1.1rem;
    color: whitesmoke;
    font-style: italic;
 }

 .currentconditions {
    display: inline-block;
    margin: 1rem 0 1rem 2rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: white;
    background-color: rgb(22, 136, 189);
    border: 1pt solid darkblue;
    font-size: 1rem;
 }
 
.currentconditions p {
    display: inline-block;
    vertical-align: middle;
}
 .currentconditions>img {
     display: inline-block;
     padding: 4px;
     width: 75px;
     height: auto;
     vertical-align: middle;

}

