/* This main css file contains the default rules and is geared toward the small/phone view */


body {
  padding: 0;
  max-width: 90%;
  max-height: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
  font-family: 'PT Sans', sans-serif;
}

header {
  display: flexbox;
  margin-top: 15px;
  background-color: rgba(38, 0, 255, 1);
  text-align: center;
  padding: .3rem;
  color: whitesmoke;
}

header>img {
  width: 140px;
  height: auto;
  vertical-align: middle;
}

.headertext {
  display: inline-block;
  color: rgb(253, 252, 162);
  margin: 1rem 1rem 1rem 2rem;
  padding: 1.2rem;
  vertical-align: middle;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 1px 2px 2px rgb(26, 26, 24);
}

.headertext h1 {
  font-size: 3rem;
  margin: 14px;
  padding: 7px;
}  

.subheading {
  font-size: 1.1rem;
  color: whitesmoke;
  font-style: italic;
}

.currentconditions {
  display: inline-block;
  margin: 1rem 1rem 1rem 2rem;
  padding: 1.2rem;
  vertical-align: middle;
  color: white;
  background-color: rgb(22, 136, 189);
  border: 1pt solid darkblue;
  font-size: 1rem;
}

.currentconditions p {
  display: inline-block;
  vertical-align: middle;
}

.currentconditions>img {
   display: inline-block;
   padding: 4px;
   width: 75px;
   height: auto;
   vertical-align: middle;
}

nav button {
  display:none;
  }

nav {
  background-color: darkblue;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
}

nav ul{
  padding: 0;
  margin: 0;
 }

nav li {list-style-type: none;}
nav a {
  display: block;
  color: white;
  text-align: center;
  padding: .2em 0;
  text-decoration: none;
 }
nav ul li a:hover { background-color: darkcyan;}

main {margin:0 auto;}
    
    h2 {text-align: center;font-size:2rem;text-shadow:3px 3px 5px #777;}
       
    .herodiv {max-width: 1080px; margin: 5px auto; position: relative;}
  
    img.town {width: 100%; height: auto;}   

    .weathersummary {
        position: absolute;
        left: 15px;
        top: 15px;
        color: white;
        background-color: rgba(63, 21, 212, 0.82);
        border: 1px solid rgb(17, 17, 20);
        padding: 15px;
        box-shadow: 0 4px 15px #fff;
    }                      
    .weathersummary h3 { font-size: 1.2em; padding-bottom: 1px; border-bottom: 2px solid rgb(232, 233, 229);}
    .weathersummary p { font-size: 1em; font-family: sans-serif, 'PT Sans'; padding:-bottom 4px; margin:0;}

section.forecast {
     display: none;
 }

article {
    display: inline-block;
    max-width: 90%;
    padding: 5px;
    margin: 15px auto;
    background:  rgb(218, 215, 215);
    border: 1px solid rgb(17, 17, 20);
    box-shadow: 0 4px 15px blue;
  }

  article h3 {
    font-size: 1.4rem;
  }

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    /* fill the page in the small/phone view */
    max-width: 90%;
    margin: 15px;
  }

section.gallery {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  margin: 0;
  padding: 0 1%;
}

section.gallery figure img {
  width: 100%;
}

section.gallery figure figcaption {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.1rem;
  padding: 1%;
}

footer {
     }

img.map {
  margin: 15px auto;
}
footer aside { 
  margin: 15px auto;
  margin-bottom: 0; 
  max-width: 1080px;
  position: relative;
  display: inline-block;
  background: rgb(143, 173, 236);
  border: 2px solid rgb(2, 2, 48);
}

footer>p {
  margin-top: 10px;
  margin-left:auto; 
  margin-right:auto;
  display: block;
  background: rgb(1, 25, 75);
  text-align: center;
  color:white;
  border: 2px solid rgb(2, 2, 48);
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */